<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.UserMapper">

	<resultMap type="User" id="joinResult" autoMapping="true">
		<id property="userId" column="user_id" />
		<result property="userName" column="user_name" />

		<!-- voteItems (1対多の関係) -->
		<collection property="voteItems" ofType="VoteItem"
			javaType="java.util.List" resultMap="voteItemResultMap" />
		<!-- <result property="createdBy" column="created_by" /> -->

		<!-- voteResults (1対多の関係) -->
		<collection property="voteResults" ofType="VoteResult"
			javaType="java.util.List" resultMap="voteResultResultMap" />
	</resultMap>
	<!-- 投票項目の結果マッピング -->
	<resultMap id="voteItemResultMap"
		type="VoteItem">
		<id property="voteItemId" column="vote_item_id" />
		<result property="title" column="title" />
		<result property="description" column="description" />
		<result property="createdBy" column="created_by" />
		<result property="votingStart" column="voting_start" />
		<result property="votingEnd" column="voting_end" />
		<result property="createdAt" column="created_at" />
	</resultMap>

	<!-- 投票結果の結果マッピング -->
	<resultMap id="voteResultResultMap"
		type="VoteResult">
		<id property="voteResultId" column="vote_result_id" />
		<result property="votedAt" column="voted_at" />
	</resultMap>

	<select id="getUserById" resultMap="joinResult">
		select
		users.user_id,
		users.user_name,
		vote_items.vote_item_id,
		vote_items.title,
		vote_items.description,
		vote_items.created_by,
		vote_items.voting_start,
		vote_items.voting_end,
		vote_items.created_at,
		vote_results.vote_result_id,
		vote_results.voted_at
		  from users
		left join vote_items
		     on users.user_id = vote_items.created_by
		left join vote_results
		     on users.user_id = vote_results.user_id
		and vote_items.vote_item_id = vote_results.vote_item_id
		where users.user_id = #{userId}
	</select>

	<select id="getUserByUserNameAndPassword" resultType="User">
		select *
		from users where user_name = #{userName} and password = #{password}
	</select>

	<select id="selectAll" resultType="User">
		select * from users
	</select>

	<insert id="addUser" parameterType="User">
		insert into users(user_name,
		password, email, birthday, memo, created_at)
		values(#{userName},
		#{password}, #{email}, #{birthday}, #{memo},
		now())
	</insert>

	<update id="updateUser" parameterType="User">
		update users
		set user_name
		= #{userName}, password = #{password}, email = #{email},
		birthday
		=#{birthday}, memo = #{memo}, updated_at = now()
		where user_id =
		#{userId}
	</update>

	<delete id="deleteUser" parameterType="User">
		delete from users where
		user_id = #{userId}
	</delete>
</mapper>