<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h2>ユーザー情報更新</h2>

	<!-- エラーメッセージ -->
	<div th:if="${message != null}">
		<p th:text="${message}"></p>
	</div>

	<form action="" method="post" th:object="${user}">
		<input type="hidden" th:field="*{userId}">
		<p class="error" th:errors="*{userName}"></p>
		<p><label for="userName">ユーザー名：</label>
			<input type="text" th:field="*{userName}">
		</p>
		<p class="error" th:errors="*{password}"></p>

		<p>
			<label for="password">新しいパスワード：</label>
			<input type="password" th:field="*{password}">
		</p>
		<p class="error" th:errors="*{email}"></p>
		<p>
			<label for="email">メールアドレス：</label>
			<input type="email" th:field="*{email}">
		</p>
		<p class="error" th:errors="*{birthday}"></p>
		<p>
			<label for="birthday">誕生日：</label>
			<input type="date" th:field="*{birthday}">
		</p>
		<p>
			<label for="memo">メモ：</label>
			<textarea th:field="*{memo}" cols="30" rows="10"></textarea>
		</p>
		<!--更新ボタン-->
		<button type="submit" name="action" value="update">更新</button>
		<!--削除ボタン-->
		<button type="submit" id="deleteButton" name="action" value="delete"
			onclick="return confirmDelete()">削除</button>
	</form>
	<a th:href="@{/home}">戻る</a>

	<!--削除確認のポップ-->
	<script>
		function confirmDelete() {
			if (confirm("本当に削除してよろしいですか？")) {
				// 削除のアクションが選択されたことを示す hidden フィールドをフォームに追加
				var form = document.querySelector('form');
				var input = document.createElement('input');
				input.type = 'hidden';
				input.name = 'action';
				input.value = 'delete';
				form.appendChild(input);
				form.submit();
			} else {
				return false;
			}
		}
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>